    *{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
        margin: 0;
    }
    .header{
        background: linear-gradient(to right, #002771,  #0032ba);
        border-bottom: 0.2rem solid #ff9f00;
    }
    .hd{
        display: flex;
        align-items: center;
        height: 80px;
    }
    .he-content{
        color: white;
        cursor: pointer;
    }
    .he-menu{
        margin-left: auto;
        cursor: pointer;
    }

    .container{
        margin: 0px 15px;
    }

    .title{
        padding: 40px 0px;
        background-image: url("./Image/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: #00256d;
    }

    #t1{
        font-size: 20px;
    }

    #t2{
        font-size: 40px;
    }
    #t1, #t2{
        background: linear-gradient(to right, #00256d 0%, #7a92eb 50%, #fe9e01 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #t3{
        width: 90%;
    }
    .tab-nav {
        overflow: hidden;
        position: absolute;
        top: -1.5%;
    }
      
    .tab-nav button {
        float: left;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 5px 24px;
        transition: 0.3s;
        font-size: 14px;
    }
    
    .t-title{
        padding: 20px 0px;
    }
 
    .tab1-nav{
        background: #f5f5f5 !important;
        border-top: 1px solid #1e4ede !important;
        border-left: 1px solid #1e4ede !important;
        border-right: 1px solid #1e4ede !important;
        border-bottom: 1px solid #f5f5f5 !important;
    }
    .tab2-nav, .tab3-nav{
        border-top: 1px solid #8b9abd !important;
        border-left: 1px solid #8b9abd !important;
        border-right: 1px solid #8b9abd !important;
    }
    .t-title > p{
        font-size: 32px;
        color: #727272;
    }
    .tabs{
        background: #f5f5f5;
        padding-bottom: 30px;
        position: relative;
        border-top: 1px solid #1e4ede;
    }
    #sing{
        font-weight: bold;
        background: linear-gradient(to right, #00256c 0%, #3763f5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 44px !important;
    }
    #cont{
        margin-top: 0.5rem;
        font-size: 16px !important;
    }

    #flag-sing{
        margin-top: 50px;
        width: 50%;
        height: auto;
    }
    .photo{
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
    }
    #country{
        color: #727272;
    }
    .intro-flag > p{
        color: #555555;
    }

    #ap, #money, #position{
        margin-top:20px;
        width: 50%;
        height: auto;
    }

    .km, .SGD, .pos{
        font-size: 40px;
        color: #002a8d;
        font-weight: bold;
    }
    .detail{
        color: #727272;
    }

    #hihi{
        margin-top: 50px;
        background: white;
        color: #727272;
        padding-top: 10px; 
        border-collapse: collapse;
        width: 100%;
        font-size: 16px;
    }
    #hihi td{
        border: 1px solid #c3c3c3;
        padding: 8px;
        width: 20px;
    }
    .footer{
        background: #002569;
    }
    .logo{
        align-items: center;
        display: flex; 
        padding-top: 10px;
    }
    .logo > img {
        width: 15%;
        height: auto;
        margin-left: 10px; 
    }
    .logo > p {
        color: #ccd3e1;
        font-size: 14px;
        margin-left: 10px; 
    }
    .ft-content{
        color: #ccd3e1;
        text-align: center;
        font-size: 1rem;
        align-items: center;
        padding-bottom: 20px;
    }
    #ft-country{
        font-weight: bold;
        font-size: 1rem;
    }
    .ft-content > p{
        color: #73809e;
    }
    .nav, .navigation{
        display: none;
    }
    .hihi{
        display: none;
        font-size: 10px;
        color: #969694;
        align-items: center;
    }
    .hihi p:nth-child(5) {
        color: #002569;
      }
    .hihi img{
          margin-right: 5px;
    }
    .hihi img:nth-child(2), .hihi img:nth-child(4){
        width: 5px;
        height: 5px;
  }
    @media only screen and (min-width: 1050px)
    {
        .container{
            margin: 0px 300px;
        }
        .title{
            padding-top: 20px;
            background-image: url("./Image/BG_Large.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            color: #00256d;
        }
        .he-menu{
            display: none;
        }
        #t1{
            font-size: 48px;
        }
        #t2{
            font-size: 54px;
        }
        .dt{
            margin-left:100px; 
        }
        #cont{
            max-width: 200px;
            overflow: hidden;
        }
        #sing{
            font-size: 60px;
        }
        .tabs{
            border-top: 1px solid #1e4ede;
        }
        .t-title{
            float: left;
        }
        #flag-sing{
            width: 30%;
            height: auto;
        }
        .haha{
            width: 100%;
            display: flex;
        }
        .distance, .money, .position{
            width: 33.3%;
        }
        .detail{
            max-width: 100%;
            overflow: hidden;
            padding: 0 20px;
        }
        .footer{
            float: left;
        }
        .ft-content{
            margin-top: 10px;
            width: 40%;
            font-size: 12px !important;
        }
        .logo{
            width: 50%;
            float: right;
        }
        .nav{
            display: block;
            margin-left: 50px;
        }
        .hihi{
            display: flex;
        }
        .hm{
            background: #ff9f00;
            float: right;
        }
        .home{
            display: flex;
            color: white;
            float: left;
            margin-right: 15px;
            padding: 24px 0px 24px 15px;
        }
        .home > img {
            width: 30%;
            height: 30%;
        }
        .hehe{
            margin-left: 5px;
        }
        .home1{
            font-size: 10px;
        }
        .home2{
            font-size: 14px;
            font-weight: bold;
        }
        #rectange{
            content: "";
            position: absolute;
            top: 4.9rem;
            left: 34rem;
            width: 0.5rem;
            height: 0.5rem;
            background: #ff9f00;
            transform: rotate(45deg);
            z-index: 1;
        }
        .navigation{
            display: block;
            background: #002569;
            height: 40px;
            color: #667dac;
            display: flex;
            align-items: center;
        }
        .navigation p {
            position: relative;
            left: 470px;
            font-size: 12px;
        }
        #kk{
            color: #ff9f00;
            border-right: 1px solid white;
            padding-right: 10px;
            margin-right: 10px;
        }
        #t2{
            float: left;
            margin-right: 20px;
        }
        .tab-nav {
            overflow: hidden;
            position: absolute;
            top: -3.4%;
        }
    }